@charset "utf-8";

body {
  margin: 0;
  background-color: rgb(236, 232, 221);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
}

h1 {
  margin: 0;
  color: chocolate;
}

h2 {
  margin: 0;
  color: blueviolet;
}

h3 {
  margin: 0 0 0 64px;
  color: blue;
}

h4 {
  margin: 0 0 0 120px;
  color: rgb(72, 111, 110);
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

header {
  background: #bbb;
  text-align: center;
}

main {
  background: rgb(240, 213, 218);
  padding: 20px;
  flex: 1;
  margin: 0 0 0 250px;
}

nav {
  background: yellow;
  width: 240px;
  border-radius: 20%;
  font-size: small;
  position: fixed;
  top: 16px;
  left: 5px;
}


.message {
  width: 300px;
  background: lightblue;
  color: brown;
  font-size: large;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  animation: popup 10s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  20% {
    transform: none;
    opacity: 1;
  }

  800% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
  }
}



footer {
  padding: 30px;
  background: #bbb;
  text-align: center;
  color: aqua;
  font-weight: bold;
}


header,
main,
nav,
footer {
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .container {
    display: flex;
  }
}

button {
  margin: 0 0 0 40px;
}

button:hover {
  font-size: large;
  font-weight: bold;
  background: orange;
}

a:hover {
  font-size: large;
  font-weight: bold;
}

